@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Laboratório <strong>ELITE</strong> foi criado por Jacques Moraes e Rodrigo Soares.</p>
<p>email: @ViewData["email"]</p>
